/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  position: relative;
  color: #002C58;
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #e7ab9e -29.09%,
    #d66c6a 51.77%,
    #d2382a 129.35% */
    /* #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35% */
  /* ); */
  /* background: rgba(135, 172, 163, 0.15) ; */
  font-family:Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

body.demo-mode::before {
  content: '-- Demo mode --';
  position: absolute;
  top: 10%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  /* Adjust the size as needed */
  color: rgba(0, 0, 0, 0.4);
  /* Light color for watermark effect */
  white-space: nowrap;
  pointer-events: none;
  /* Ensure it doesn't interfere with other elements */
  z-index: 0;
  /* Ensure it stays behind other content */
}

button {
  background-color: white;
  color: #002C58;
  /* padding: 10px; */
  border-radius: 50px;
  /* border-color: black;
  border-width: 1px; */
  border: none;
  appearance: none;
  font-size: 1rem;
  font-weight: 600;
  /* box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.75;
}

button:hover {
  transform: scale(1.1);
  opacity: 1;
}

.role-button {
  padding: 20px 10px;
  width: 100px;
  height: 100px;
  margin: 20px 30px;
  background-color: rgba(0, 44, 88, 0.25);
}
.role-button:hover {
  transition: opacity 0.3s ease;
    /* Smooth transition */
    color: white;
    background-color: rgba(0, 44, 88, 1);
    /* Adjust the opacity as needed */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
.icon-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.icon-button {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border: none;
    background-color: rgba(0, 44, 88, 0.25);
    opacity: 0.6;
      /* Default opacity */
    border-radius: 50%;
    width: 60px;
    /* Adjust the size as needed */
    height: 60px;
    /* Adjust the size as needed */
    margin: 5px 30px;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      /* Added shadow */
}

.icon-button:hover {
  transition: opacity 0.3s ease;
  /* Smooth transition */
  background-color: rgba(0, 44, 88, 1);
  /* Adjust the opacity as needed */
}

.icon-button.active {
  opacity: 1;
  /* Adjust the opacity as needed */
}

.icon-button-text {
  margin-top: 10px;
  /* Adjust the spacing as needed */
  font-size: 12px;
  /* Adjust the font size as needed */
}

.centered-heading {
  text-align: center;
  font-size: 2rem;
  /* margin: 20 auto; */
  width: 100%;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

/* adjust vertical alignment of pagination */
.ant-pagination-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Ensure consistent padding for pagination items */
.ant-pagination-item,
.ant-pagination-prev,
.ant-pagination-next {
  padding: 0px;
  line-height: 32px;
  /* Adjust this value as needed */
}

/* Set a fixed height and width for pagination items */
.ant-pagination-item,
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  height: 32px;
  /* Adjust as needed */
  width: 32px;
  /* Adjust as needed */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Reset the line height for pagination items */
.ant-pagination-item a {
  line-height: 0.5;
}
